html {
  position: relative;
  min-height: 100%;
}

.contact-me-bar > a {
  margin-right: 0.25rem;
  text-decoration: none;
}
.contact-me-bar > a:hover {
    text-decoration: none;
}
a.site-title {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.page {
  height:100%;
  margin-bottom: 60px;
  text-align: center;
  padding-bottom: 16px;
}

a {
  text-decoration: none;
  color: black;
}

.nav-item {
  list-style: none;
}
