.text-muted {
    color: #6c757d
}
.footer {
    border-top: 1px solid #dee2e6;
    max-height: 3em;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    display: block;
    text-align: left;
}

.footer > div {
    padding-left: 1em;
    padding-right: 1em;
    line-height: 3em;
}