
.header {
  min-height: 1em;
  display: flex;
  flex-direction: column;
  color: white;
  box-shadow: 0px 0px 10px lightgray;
  padding: 10px 10px;
}
.header > div > div > div > a {
  color: black;
  text-decoration: none;
}