.App-logo {
    height: 20vmin;
}
.profile-img {
    max-width: 256px;
    max-height: 256px;
    border-radius: 50%;
    padding-top: 20px;
}
.text-secondary {
    color: #6c757d;
}

.contact-me-bar > a > i {
    margin-right: 0.25em;
}